.hero{
    display: flex;
    justify-content: space-between;

}

.left-h {
    padding:1rem;
    padding-top:1.5rem;
    flex: 3;
    display: flex;
    gap: 2rem;
    flex-direction: column;

}

.right-h{
    flex: 1;
    position: relative;
    background-color: var(--orange);
} 

.the-best-ad{
    margin-top: 4rem;
    background-color: #363d42;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    text-transform: uppercase;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
}
.the-best-ad>span{
    z-index: 2;
}
.the-best-ad>div{
    position: absolute;
    background-color: var(--orange);
    width: 5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 1;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
    font-family: 'Poppins', sans-serif;
}

.hero-text>div:nth-of-type(3){
    font-size: 1rem;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%;
    font-family: 'Poppins', sans-serif;

}
.figures{
    display: flex;
    gap: 2rem;
    font-family: 'Poppins', sans-serif;
}
.figures>div{
    display: flex;
    flex-direction: column;
}

.figures>div>span:nth-of-type(1){
    color: white;
    font-size: 2rem;
}
.figures>div>span:nth-of-type(2){
    color: var(--gray);
    text-transform: uppercase;
}

.hero-buttons{
    display: flex;
    gap: 1rem;
    font-weight: normal;
}

.hero-buttons>:nth-child(1){
    color: white;
    background-color: var(--orange);
    width: 8rem;
}

.hero-buttons>:nth-child(1):hover{
    color: white;
    background-color: transparent;
    width: 8rem;
    border: 2px solid var(--orange);
}

.hero-buttons>:nth-child(2){
    color: white;
    background-color: transparent;
    width: 8rem;
    border: 2px solid var(--orange);
} 

.hero-buttons>:nth-child(2):hover{
    color: white;
    background-color: var(--orange);
    width: 8rem;
} 
.right-h>.btn{
    position: absolute;
    right: 3rem; top: 2rem; color: black;
}  

.heart{
    height: 70px;
    width: 70px;
}

.heart-rate{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--darkGray);
    width: fit-content;
    padding: 1rem;
    align-self: start;
    border-radius: 5px;
    position:absolute;
    right: 4rem;
    top: 7rem;
}

.heart-rate>span:nth-of-type(1){
    color: var(--gray);
}

.heart-rate>span:nth-of-type(2){
    color: white;
    font-size: 1.5rem;
}

.hero-image{
    position: absolute;
    top: 18rem;
    right: 10rem;
    width: 23rem;
}

.hero-image-back{
    position: absolute;
    top: 5rem;
    right: 2rem;
    z-index: -1;
    width: 32rem;
    height: 560px;
    
}

.calimg{
    height: 90px;
    width: 90px;
}

.calories{
    display: flex;
    gap: 2rem;
    background-color: var(--caloryCard);
    border-radius: 5px;
    padding: 1rem;
    width: fit-content;
    position: absolute;
    top: 36rem;
    right: 25rem;
}

.calories>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calories>div>:nth-child(1){
    color: var(--gray);
}

.calories>div>:nth-child(2){
    color: white;
    font-size: 1.5em;
}

.hero-blur{
    width: 22rem;
    height: 30rem;
    left: 0;

}