.header{
    display:flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
}

.logo{
     width: 8rem;
     height: 8rem;
    
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 2.5rem; 
    color: white; 
    font-family: 'Poppins', sans-serif;
}

.header-menu>li{ 
    cursor: pointer;
}

.header-menu>li:hover{
    color: var(--orange);
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .header > :nth-child(2){
        position: fixed;
        right: 2rem;
        z-index: 99;
        margin-top: 11rem;
    }
    .header-menu{
        flex-direction: column;
        background: var(--appColor);
        padding: 1rem;
        gap: 1rem; 


    }
}